@{
    ViewData["Title"] = "Вернуть байк";
}
<h3>Вернуть байк:</h3>
<form method="post" action="~/Bike/Return">
    <label>Название байка:</label><br />
    <input type="text" name="bikename" /><br />
    <label>Точка проката:</label><br />
    <input type="text" name="rentpointname" /><br />
    <input type="submit" value="Вернуть" />
</form>