@{
    ViewData["Title"] = "Add Employee";
}
<form method="post" action="~/Employee/Add">
    <label>Фамилия:</label><br />
    <input type="text" name="surname" /><br />
    <label>Имя:</label><br />
    <input type="text" name="firstname" /><br />
    <label>Отчество:</label><br />
    <input type="text" name="patronymic" /><br />
    <input type="submit" value="Отправить" />
</form>